<html>
  <h1 class="headtitle">Github User details page</h1>
 
  <body class="ghdet">
    <br>    
    <table border="1" cellpadding="1" cellspacing="1" width="400px" style="border-collapse:collapse;">
      <thead>
        <td align="center">Github User Id</td>
        <td align="center">Github User Created Date</td>
      </thead>
  <tbody>    
       <td align="left"> {{githublogin}}</td>
       <td align="center"> {{githubcreatedat}}</td>      
      </tbody>
  </table>
  </body>
  </html>

